footer{
  background-color:#2e3033;
  height: 248px;
  color:#fff;
  .container-fluid{
    position: relative;
  }
  img{
    position: absolute;
    top: 25px;
    right:10px;
  }
  h6{
    font-size: 16px;
    font-weight: normal;
    padding: 50px 0 10px 0;
  }
  p{
    line-height: 30px;
  }
}
