.cr-btn, a.cr-btn, button.cr-btn{
    display: inline-block;
    min-width: 110px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    position: relative;
    color:#666;
    border: 1px solid #666;
    padding: 11px 30px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    outline: none;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: translateY(0) translateZ(0);
    -moz-transform: translateY(0) translateZ(0);
    -ms-transform: translateY(0) translateZ(0);
    -o-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
}
.cr-btn b, a.cr-btn b, button.cr-btn b{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    border-radius: 50%;
    -webkit-transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
    -moz-transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
    -ms-transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
    -o-transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
    transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
    height: 0;
    width: 0;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.cr-btn:hover,
a.cr-btn:hover,
button.cr-btn:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
}
.cr-btn:hover b,
a.cr-btn:hover b,
button.cr-btn:hover b {
    height: 400px;
    width: 400px;
}
.cr-btn:active,
a.cr-btn:active,
button.cr-btn:active {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
}
